$fontColor : #333; // color
$backgroundColor: #e2e2e2;


$black : #333;
$white : #F6F6F6;
$gray : #888888;

$primary : #1964ab;
$secondary : #64357a;
$success: #3f984e;
$warning : #ab7825;
$error : #a82121;


$fontColor : $black; // color
$backgroundColor: $white;